 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@font-face {
    font-family: "BNT";
    src: url("/static/fonts/big-noodle-too.ttf") format("truetype");
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

canvas {
    height: 100%;
    width: 100%;
    /* margin-bottom: -5px; */
    position: fixed;
    z-index: -1;
}

.logo__container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* transitions */

.logo__container img {

    width: 90vw;
    height: auto;

    will-change: width, height;
    /* transition: 1s width cubic-bezier(0,0,0.3,1); */
    transition: 1s width ease-in-out;
}


.logo__container .logo__row {
    opacity: 0;
    pointer-events: none;
    will-change: opacity;

    /* transition: 1s opacity cubic-bezier(0,0,0.3,1); */
    transition: 1s opacity ease-in-out;
}

.logo__container.logo__container--reasonable .logo__row {
    opacity: 1;
    pointer-events: initial;
}

.logo__container.logo__container--reasonable img {
    width: 30vw;
    height: auto;
}

@media(max-width: 768px) {
    .logo__container img {

        width: 70vw;
        height: auto;
    }
    .logo__container.logo__container--reasonable img {
        width: 90vw;
        height: auto;
    }
}

/* interest buttons */

.row__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link__interest {
    will-change: opacity;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    opacity: 0.8;
    font-size: 1.2em;

    color: white;
    text-decoration: none;
    margin: 5px 10px 5px 10px;
}

.link__interest:hover {
    opacity: 1;
}

.blankpage {
    height: 100vh;
/*    background-color: #2b2b2b;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}
