<section class="faq">
	<h2 class="faq__header"> Frequently Asked Questions </h2>

	<div class="faq__layout">
        {% comment %}
		<div class="faq__card">
			<i class="faq__cardicon far fa-square"></i>
			<h5 class="faq__cardtitle">Question</h5>
			<b class="faq__cardsubtitle">Answer</b>
			<p class="faq__cardinfo">Details</p>
		</div>
        {% endcomment %}
		<div class="faq__card">
			<i class="faq__cardicon fas fa-money-bill-wave"></i>
			<h5 class="faq__cardtitle">How much does it cost?</h5>
			<b class="faq__cardsubtitle">If accepted to the event, tickets are free, 100% free.</b>
			<p class="faq__cardinfo">More information on reimbursements will be released shortly. Full reimbursements are not guaranteed.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-door-open"></i>
			<h5 class="faq__cardtitle">Who may attend?</h5>
			<b class="faq__cardsubtitle">Any student currently enrolled in full-time further education may join &mdash; if you graduated less than a year ago, you're also eligible.</b>
			<p class="faq__cardinfo">Unfortunately under 18s may not participate this year.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-suitcase"></i>
			<h5 class="faq__cardtitle">What do I bring?</h5>
			<b class="faq__cardsubtitle">We'll be providing all the food, snacks, drinks and merch to get you through the weekend.</b>
			<p class="faq__cardinfo">But you'll need your own device to work on &mdash; don't forget your charger! You also might need an adapter, and make sure you have a valid gov't ID for admission.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-camera"></i>
			<h5 class="faq__cardtitle">Can I take photos?</h5>
			<b class="faq__cardsubtitle">Yes, but don't forget to follow our <a href="//mlh.io/code-of-conduct">Code of Conduct</a>.</b>
			<p class="faq__cardinfo">If you do not want your photos taken, you will be able to collect a lanyard at the registration desk.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon far fa-clock"></i>
			<h5 class="faq__cardtitle">Yawn. Can we sleep over?</h5>
			<b class="faq__cardsubtitle">Absolutely! You may want to bring some spare clothes and a sleeping bag.</b>
			<p class="faq__cardinfo">Don't forget to bring a toothbrush and some deodorant. We don't have showers.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-code"></i>
			<h5 class="faq__cardtitle">I can't code, can I join?</h5>
			<b class="faq__cardsubtitle">If you're new to programming, a hackathon is the best place for you to go to.</b>
			<p class="faq__cardinfo">There'll be plenty of mentors ready to assist you with whatever problem you face.<br/>Don't hestitate to ask for help, we don't bite!</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-users"></i>
			<h5 class="faq__cardtitle">What about teams?</h5>
			<b class="faq__cardsubtitle">You may team up with up to three other people. Teams exceeding four people are ineligible for prizes.</b>
			<p class="faq__cardinfo">Don't worry if you haven't got a team &mdash; you're not alone. We'll help you form a team at the event, or you could even hack solo!</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-shield-alt"></i>
			<h5 class="faq__cardtitle">Are there any rules?</h5>
			<b class="faq__cardsubtitle">Yes. Our <a href="//mlh.io/code-of-conduct">Code of Conduct</a> lives here.</b>
			<p class="faq__cardinfo">By participating in Hack the Burgh you are agreeing to follow all of the rules listed. It is scientifically proven that nice people live longer.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-university"></i>
			<h5 class="faq__cardtitle">What if I'm not a student?</h5>
			<b class="faq__cardsubtitle">You can become a mentor. Please <a href="mailto:hello@hacktheburgh.com">get in touch with us</a>.</b>
			<p class="faq__cardinfo"></p>
		</div>
	</div>
</section>
