<canvas id="c"></canvas>
<section class="logo__container">
    <img src="static/logos/title-01.svg" alt="hack the burgh logo"/>
    <div class="row__center logo__row">
        <p class="logo__info">
            <span>November 2-3, 2019</span>
            <span class="helper--mobilehidden">&bull;</span>
            <span>David Hume Tower Hub</span>
        </p>
    </div>
    <div class="row__center logo__row">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfXsUTJzFK9UN9Rl7c03ewBekPPPWMHdQrzuQX-X3VQ2VkbVA/viewform" class="link__interest">
            register interest
            <i class="fas fa-arrow-right"></i>
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbEEIaMw8yhcIHaTNAxdAB6khqdwvpK8mkWaS8Tpmlis2LHQ/viewform" class="link__interest">
            volunteer
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</section>
