<section class="reimbursements">
    <h2 class="reimbursements__header">Travel Reimbursements</h2>
    <div class="reimbursements__container">
        <p class="reimbursements__details"> If you are arriving from outside of Edinburgh, we may able to reimburse your travel. Please note that reimbursements are <b>not guaranteed</b>.</p>
        <table class="reimbursements__table">
            <thead>
                <tr>
                    <th>Region</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Scotland (excluding Edinburgh)</td>
                    <td>up to £20</td>
                </tr>
                <tr>
                    <td>Northern England and Midlands</td>
                    <td>up to £40</td>
                </tr>
                <tr>
                    <td>Southern England and EU</td>
                    <td>up to £50</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
