<script id="custom-vertex" type="x-shader/x-vertex">
    {% include shaders/road_vertex.glsl %}
</script>
<script id="custom-fragment" type="x-shader/x-fragment">
    {% include shaders/road_fragment.glsl %}
</script>
<script src="static/js/three.js" type="text/javascript"></script>
<script src="static/js/Sky.js" type="text/javascript"></script>
<script src="static/js/gyronorm.js" type="text/javascript"></script>
<script src="static/js/road.js" type="text/javascript"></script>
<script src="static/js/a11y.js" type="text/javascript" defer></script>
<script src="static/js/index.js" type="text/javascript" defer></script>

