<section class="sponsors">
    <h2 class="sponsors__header">Sponsors</h2>

    <div class="sponsors__layout">
        <div class="sponsor__logos sponsors__logos--gold">
            <a href="//blackrock.com">
                <img src="static/sponsors/blackrock.png" alt="BlackRock Logo">
            </a>
        </div>
        <hr/>
        <div class="sponsor__logos sponsors__logos--silver">
            <a href="//craneware.com">
                <img src="static/sponsors/craneware.svg" alt="Craneware Logo">
            </a>
        </div>
        <hr/>
        <div class="sponsor__logos sponsors__logos--bronze">
            <a href="//skyscanner.net">
                <img src="static/sponsors/skyscanner.svg" alt="Skyscanner Logo">
            </a>
        </div>
        <hr/>
        <div class="sponsor__logos sponsors__logos--affiliate">
            <a href="//jetbrains.com">
                <img src="static/sponsors/jetbrains.svg" alt="Jetbrains Logo">
            </a>
        </div>
    </div>
</section>
