<section class="sponsors">
    <h2 class="sponsors__header">Sponsors</h2>

    <div class="sponsors__layout">
        <h3>Headline Sponsors</h3>
        <div class="sponsor__logos sponsors__logos--gold">
            <a target="_blank" href="//blackrock.com">
                <img src="static/sponsors/blackrock-white.png" alt="BlackRock Logo">
            </a>
            <a target="_blank" href="//home.barclays">
                <img src="static/sponsors/barclays.svg" alt="Barclays Logo">
            </a>
        </div>
        <h3>Gold Sponsor</h3>
        <div class="sponsor__logos sponsors__logos--silver">
            <a target="_blank" href="//craneware.com">
                <img src="static/sponsors/craneware.svg" alt="Craneware Logo">
            </a>
        </div>
        <h3>Silver Sponsors</h3>
        <div class="sponsor__logos sponsors__logos--bronze">
            <a target="_blank" href="//and.digital">
                <img src="static/sponsors/and-digital.png" alt="AND Digital Logo">
            </a>
            <a target="_blank" href="//optiver.com">
                <img src="static/sponsors/optiver-white.png" alt="Optiver Logo">
            </a>
            <a target="_blank" href="//thoughtmachine.net">
                <img src="static/sponsors/thoughtmachine.svg" alt="Thought Logo">
            </a>
            <a target="_blank" href="//skyscanner.net">
                <img src="static/sponsors/skyscanner-new.png" alt="Skyscanner Logo">
            </a>
        </div>
        <h3>Bronze Sponsors</h3>
        <div class="sponsor__logos sponsors__logos--affiliate">
            <a target="_blank" href="//modulrfinance.com">
                <img src="static/sponsors/modulr.svg" alt="Modulr Logo">
            </a>
            <a target="_blank" href="//transloadit.com">
                <img src="static/sponsors/transloadit.svg" alt="Transloadit Logo">
            </a>
            <a target="_blank" href="http://hackp.ac/mlh-stickermule-hackathons">
                <img src="static/sponsors/stickermule.svg" alt="Stickermule Logo">
            </a>
        </div>
    </div>
</section>
