body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: black;
}

$htb__accent: #56CBF9;

@mixin content-page {
    @include media-desktop {
        margin-top: 40vh;
    }

    margin-top: 20vh;

    color: white;
}

@mixin content-page__header {
    font-family: 'BNT', sans-serif;
    font-size: 4em;
    margin: 1em 0 1em 0;
    text-align: center;

    @include media-mobile {
        padding: 0 5px 0 5px;
    }
}

@mixin content-card {
    background-color: rgba(180,180,180,0.75);
    padding: 10px;
}
