@import 'util/media';

$faq__cards-per-row: 3;

.faq {
    @include content-page;
}

.faq__header {
    @include content-page__header;
}


.faq__layout {
    padding: 0 2px 0 2px;
	@include media-desktop {
		padding: 0 10% 0 10%;
        grid-template-columns: auto auto auto;
	}

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.faq__card {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: flex-start;

    @include content-card;

	> .faq__cardtitle {
		font-size: 1.5em;
		margin-bottom: 1rem;
	}
	> .faq__cardicon {
		font-size: 5em;
	}

}
