canvas {
    height: 100%;
    width: 100%;
    /* margin-bottom: -5px; */
    position: fixed;
    z-index: -1;

    transition: 1s opacity cubic-bezier(0,0,0.3,1);
}

.logo__container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* transitions */

.logo__container img {

    width: 90vw;
    height: auto;

    will-change: width, height;
    /* transition: 1s width cubic-bezier(0,0,0.3,1); */
    transition: 1s width ease-in-out;
}


.logo__container .logo__row {
    opacity: 0;
    pointer-events: none;
    will-change: opacity;

    height: 0.01px;
    /* transition: 1s opacity cubic-bezier(0,0,0.3,1); */
    transition: 1s opacity ease-in-out, 1s height ease-in-out;
}

.logo__container.logo__container--reasonable .logo__row {
    opacity: 1;
    pointer-events: initial;
    height: 1.8em;
}

.logo__container.logo__container--reasonable img {
    width: 30vw;
    height: auto;
}

@media(max-width: 768px) {
    .logo__container img {
        width: 70vw;
        height: auto;
    }
    .logo__container.logo__container--reasonable img {
        width: 90vw;
        height: auto;
    }

    .helper--mobilehidden {
        display: none;
    }
    .logo__container.logo__container--reasonable .logo__row {
        height: 3.6em;
    }
    .logo__container.logo__container--reasonable .logo__info {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* interest buttons */

.row__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.logo__info {
    color: white;
    margin: 0;
    opacity: 0.9;
    font-size: 1.2em;

    text-align: center;
}

.link__interest {
    will-change: opacity;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    opacity: 0.8;
    font-size: 1.2em;

    color: white;
    text-decoration: none;
    margin: 5px 10px 5px 10px;
}

.link__interest:hover {
    opacity: 1;
}

.blankpage {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}
