@import 'util/media';

$all__transition-height: 40px;

.live {
}

.live__schedule { padding: 0 0 70px 0; }


.live__scheduleitem {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-begin;

    color: white;
    background-color: $content__background;

    padding: 0 50px 0 50px;

    margin: 30px 30px 30px 30px;
    @include media-desktop {
        margin: 30px 120px 30px 120px;

        clip-path: polygon(calc(0% + 50px) 0%, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
    }


    > .live__scheduleitembody {
        flex-grow: 1;
    }

    &.live__scheduleitem--passed { background-color: #c7c7c7; opacity: 0.7; }
    &.live__scheduleitem--active { background-color: $htb__accent; }
}

.live__scheduleitem__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;

    > h2 {
        margin-bottom: 0;
    }

    @include media-desktop {
        flex-direction: row;
        justify-content: space-between;
    }
}

.live__aftertransition {
    
    display: block;	
    width: 100%;
    height: $all__transition-height;
    margin-bottom: -1px; // combat pixel line fighting

    > polygon {
        stroke: none;
        fill: $content__background;
    }
}

.live__topbar {
    background-color: $content__background;
    margin-bottom: 30px;

    padding: 0 10px 0 10px;

    @include media-desktop {
        padding: 0 10vw 0 10vw;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    > label {
        text-align: center;
        cursor: pointer !important;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        flex-grow: 1;

        color: white;

        transition: background-color 0.25s cubic-bezier(0,0,0.3,1);

        @include media-desktop {
            clip-path: polygon(calc(0% + 20px) 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
            margin: 0 -10px 0 -10px;
        }

        &:hover {
            background-color: rgba(216, 32, 42, 0.5);
            
        }
    }

}

input.live__topbar__input {
    position: fixed;
    opacity: 0;

}

input.live__topbar__input:checked + label {
    background-color: $htb__accent;
}

.live__topbarback {
    position: absolute;
    left: 0;

    padding: 0.5em 2em 0.5em 1em;
    color: white;

    display: none; // hide on mobile
    @include media-desktop {
        clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
        display: initial;
    }
    cursor: pointer;

    transition: background-color 0.25s cubic-bezier(0,0,0.3,1);
    opacity: 1;

    &:hover {
        opacity: 1;
        background-color: rgba(216, 32, 42, 0.5);
    }
}


.live__challenges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 10px 20px 10px 20px;

    margin-bottom: 100px;
}

.live__challenge {
    opacity: 1 !important;
    background-color: $content__background;
    mix-blend-mode: initial;
    color: white;

    //flex: 1 0 auto;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;

    position: relative;

    @include media-desktop {
        width: 40vw;
        flex-grow: 0;
        clip-path: polygon(calc(0% + 40px) 0%, 100% 0%, calc(100% - 40px) 100%, 0% 100%);
        margin: 10px 0 10px 0;
        padding: 10px 45px 10px 45px;
    }


    
    &:hover > .live__challengebutton {
        background-color: $htb__accent;
    }

}


.live__challengebutton {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 40px !important;

    @include media-desktop {
        width: 40px !important;
        padding: 0 40px 0 40px;
        clip-path: polygon(calc(0% + 40px) 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    transition: background-color 0.25s cubic-bezier(0,0,0.3,1);
}

.live__challengebody {

    margin-right: 70px;

    > .live__challengetitle {
        margin-top: 0;
    }

    > p {
        @include media-desktop {
           height: 3em;
        }
    }

    > .live__challengechannel {
        font-family: monospace;
    }
}


.live__countdown {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .live__countdownbody {
        padding: 10px;
        color: white;
        background-color: $content__background;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media-desktop {
            font-size: 2em;
        }

        > * {
            margin: 0;

        }
    }
}

.live__information {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .live__informationbody {
        opacity: 1;
        mix-blend-mode: initial;
        padding: 10px;
        color: white;
        background-color: $content__background;

        transition: color 0.25s cubic-bezier(0,0,0.3,1);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;

        font-size: 1.2em;

        > i {
            font-size: 4em;
        }

        > p {
            margin: 10px 0 0 0;
        }

        &:hover {
            color: $htb__accent;
            opacity: 1;
        }
    }
}

.live--hidden {
    display: none;
}
