
@import 'util/media';

.sponsors {
    @include content-page;
}

.sponsors__header {
    @include content-page__header;
}

.sponsors__layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include content-card;

    padding: 10px;
    margin: 0 2px 0 2px;

    @include media-desktop {
        margin: 0 10% 0 10%;
    }

    > h3 {
        font-size: 1.5em;
        margin: 1em 35% 1em 35%;
        text-align: center;

        color: rgba(224,224,224,0.7);

        padding: 0px 0 0.5em 0;
        width: 30%;
        border-bottom: 1px solid rgba(224,224,224,0.7);


        @include media-mobile {
            width: 70%;
            margin: 1em 15% 1em 15%;
        }
    }
}

.sponsor__logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include media-mobile {
        flex-direction: column;
        justify-content: flex-start;
    }

    flex-wrap: wrap;

    > a {
        display: block;
        @include media-mobile {
            margin-bottom: 5px;
        }
    }
}

.sponsors__logos--gold img {
    width: 35vw;
    height: auto;
    @include media-mobile {
        width: 70vw;
    }
}

.sponsors__logos--silver img {
    width: 30vw;
    height: auto;
    @include media-mobile {
        width: 70vw;
    }
}

.sponsors__logos--bronze img {
    width: 20vw;
    height: auto;

    @include media-mobile {
        width: 50vw;
    }
}

.sponsors__logos--affiliate img {
    width: 15vw;
    height: auto;

    @include media-mobile {
        width: 45vw;
    }
}
