 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@font-face {
    font-family: "BNT";
    src: url("/static/fonts/big-noodle-too.ttf") format("truetype");
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
